@import-normalize; /* bring in normalize.css styles */
@import '@fontsource/poppins'; /* bring in font styles */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
button {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* loader */
.blocks-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1500;

  height: 150px;
  width: 150px;
}
#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1440px;
  justify-content: space-between;
  overflow-x: clip;
}
